*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body{
  --primary: #5FB7CF;
  --secondary: #ffffff;
  --neutral: #403e41;
  
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: var(--neutral);
  cursor: default;
}

section{
  position: relative;
  height: 100vh;
}

h1, h2, h3, h4 {
  font-family: 'Teko', sans-serif;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
  &:visited{
    color: inherit;
  }
}