@media screen and (max-width: 1024px) {
  #pointer{
    display: none !important;
  }
  .slide-container .close{
    &::before{
      display: none;
    }
    &:hover{
      color: #197cd8;
    }
  }
}
@media screen and (max-width: 768px){
  
}

@media screen and (max-width: 640px) {
  
}

@media screen and (max-width: 560px) {
  .desk-container{
    -webkit-transform: translate3D(-50%, -50%, 0) scale(.75);
        -ms-transform: translate3D(-50%, -50%, 0) scale(.75);
            transform: translate3D(-50%, -50%, 0) scale(.75);
  }
}

@media screen and (max-width: 490px) {
  .slide-container{
    width: 100%;
    .slide--title{
      font-size: 40px;
      margin-top: 32px;
      text-align: left;
    }
    .close{
      width: 32px;
      height: 32px;
      position: relative;
      right: auto;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      top: 16px;
    }
    .container-grid{
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
    }
  }
}

@media screen and (max-width: 460px) {
  .desk-container{
    -webkit-transform: translate3D(-50%, -50%, 0) scale(.65);
        -ms-transform: translate3D(-50%, -50%, 0) scale(.65);
            transform: translate3D(-50%, -50%, 0) scale(.65);
  }
}

@media screen and (max-width: 360px) {
  .desk-container{
    -webkit-transform: translate3D(-50%, -50%, 0) scale(.55);
        -ms-transform: translate3D(-50%, -50%, 0) scale(.55);
            transform: translate3D(-50%, -50%, 0) scale(.55);
  }
}