@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teko';
  src: url('../fonts/Teko-Regular.woff2') format('woff2'),
      url('../fonts/Teko-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
