@-webkit-keyframes fire {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }

  to {
    -webkit-transform: scaleY(0.85);
            transform: scaleY(0.85);
  }
}

@keyframes fire {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }

  to {
    -webkit-transform: scaleY(0.85);
            transform: scaleY(0.85);
  }
}

@-webkit-keyframes stone {
  from {
    -webkit-transform: translate3D(0, 0 ,0);
            transform: translate3D(0, 0 ,0);
  }
  to {
    -webkit-transform: translate3D(0, 50px, 0);
            transform: translate3D(0, 50px, 0);
  }
}

@keyframes stone {
  from {
    -webkit-transform: translate3D(0, 0 ,0);
            transform: translate3D(0, 0 ,0);
  }
  to {
    -webkit-transform: translate3D(0, 50px, 0);
            transform: translate3D(0, 50px, 0);
  }
}

@-webkit-keyframes stars {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3D(-400px, 0, 0);
            transform: translate3D(-400px, 0, 0);
  }
}

@keyframes stars {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3D(-400px, 0, 0);
            transform: translate3D(-400px, 0, 0);
  }
}

@-webkit-keyframes showMonitor {
  0%{
    opacity: 1;
    -webkit-transform: translate3D(0, -50px, 0) scale(0);
            transform: translate3D(0, -50px, 0) scale(0);
  }
  30%{
    -webkit-transform: translate3D(0, -50px, 0) scale(1);
            transform: translate3D(0, -50px, 0) scale(1);
  }
  60%{
    opacity: 1;
    -webkit-transform: translate3D(0, -50px, 0);
            transform: translate3D(0, -50px, 0);
  }
  100%{
    -webkit-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}

@keyframes showMonitor {
  0%{
    opacity: 1;
    -webkit-transform: translate3D(0, -50px, 0) scale(0);
            transform: translate3D(0, -50px, 0) scale(0);
  }
  30%{
    -webkit-transform: translate3D(0, -50px, 0) scale(1);
            transform: translate3D(0, -50px, 0) scale(1);
  }
  60%{
    opacity: 1;
    -webkit-transform: translate3D(0, -50px, 0);
            transform: translate3D(0, -50px, 0);
  }
  100%{
    -webkit-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes rotateMe {
  0%{
    opacity: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  10%{
    opacity: 1;
  }
  100%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes rotateMe {
  0%{
    opacity: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  10%{
    opacity: 1;
  }
  100%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes treeShake {
  40%{
    -webkit-transform: translate3D(-50%, 0, 0) rotate(10deg);
            transform: translate3D(-50%, 0, 0) rotate(10deg);
  }
  60%{
    -webkit-transform: translate3D(-50%, 0, 0) rotate(-10deg);
            transform: translate3D(-50%, 0, 0) rotate(-10deg);
  }
  70%{
    -webkit-transform: translate3D(-50%, 0, 0) rotate(5deg);
            transform: translate3D(-50%, 0, 0) rotate(5deg);
  }
  80%{
    -webkit-transform: translate3D(-50%, 0, 0) rotate(-5deg);
            transform: translate3D(-50%, 0, 0) rotate(-5deg);
  }
  100%{
    -webkit-transform: translate3D(-50%, 0, 0) rotate(0deg);
            transform: translate3D(-50%, 0, 0) rotate(0deg);
  }
}

@keyframes treeShake {
  40%{
    -webkit-transform: translate3D(-50%, 0, 0) rotate(10deg);
            transform: translate3D(-50%, 0, 0) rotate(10deg);
  }
  60%{
    -webkit-transform: translate3D(-50%, 0, 0) rotate(-10deg);
            transform: translate3D(-50%, 0, 0) rotate(-10deg);
  }
  70%{
    -webkit-transform: translate3D(-50%, 0, 0) rotate(5deg);
            transform: translate3D(-50%, 0, 0) rotate(5deg);
  }
  80%{
    -webkit-transform: translate3D(-50%, 0, 0) rotate(-5deg);
            transform: translate3D(-50%, 0, 0) rotate(-5deg);
  }
  100%{
    -webkit-transform: translate3D(-50%, 0, 0) rotate(0deg);
            transform: translate3D(-50%, 0, 0) rotate(0deg);
  }
}

@-webkit-keyframes treeBounce {
  40% {
      -webkit-transform: translate3D(-50%, 0, 0) scaleY(.8);
              transform: translate3D(-50%, 0, 0) scaleY(.8);
    }
  
    60% {
      -webkit-transform: translate3D(-50%, 0, 0) scaleY(1.2);
              transform: translate3D(-50%, 0, 0) scaleY(1.2);
    }
  
    70% {
      -webkit-transform: translate3D(-50%, 0, 0) scaleY(.9);
              transform: translate3D(-50%, 0, 0) scaleY(.9);
    }
  
    80% {
      -webkit-transform: translate3D(-50%, 0, 0) scaleY(1.1);
              transform: translate3D(-50%, 0, 0) scaleY(1.1);
    }
  
    100% {
      -webkit-transform: translate3D(-50%, 0, 0) scaleY(1);
              transform: translate3D(-50%, 0, 0) scaleY(1);
    }
}

@keyframes treeBounce {
  40% {
      -webkit-transform: translate3D(-50%, 0, 0) scaleY(.8);
              transform: translate3D(-50%, 0, 0) scaleY(.8);
    }
  
    60% {
      -webkit-transform: translate3D(-50%, 0, 0) scaleY(1.2);
              transform: translate3D(-50%, 0, 0) scaleY(1.2);
    }
  
    70% {
      -webkit-transform: translate3D(-50%, 0, 0) scaleY(.9);
              transform: translate3D(-50%, 0, 0) scaleY(.9);
    }
  
    80% {
      -webkit-transform: translate3D(-50%, 0, 0) scaleY(1.1);
              transform: translate3D(-50%, 0, 0) scaleY(1.1);
    }
  
    100% {
      -webkit-transform: translate3D(-50%, 0, 0) scaleY(1);
              transform: translate3D(-50%, 0, 0) scaleY(1);
    }
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}