.text-center {
  text-align: center;
}

#pointer {
  width: 16px;
  height: 16px;
  position: fixed;
  border-radius: 100px;
  background-color: transparent;
  z-index: 999;
  display: none;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  border: 3px solid var(--primary);
  pointer-events: none;

  &.active {
    border-width: 3px;
    background-color: transparent;
    width: 21px;
    height: 21px;
  }
}

#table{
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 70%;
  z-index: 1;
  -webkit-transform: translate3D(0, 200px, 0);
      -ms-transform: translate3D(0, 200px, 0);
          transform: translate3D(0, 200px, 0);
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0, 1.14, .81, 1.47);
       -o-transition-timing-function: cubic-bezier(0, 1.14, .81, 1.47);
          transition-timing-function: cubic-bezier(0, 1.14, .81, 1.47);
  img, svg{
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition-duration: .5s;
         -o-transition-duration: .5s;
            transition-duration: .5s;
    width: 100%;
  }
}
#lamp{
  position: absolute;
  left: 0;
  width: 30%;
  bottom: 2%;
  opacity: 0;
  -webkit-transform: translate3D(-70px, 0, 0);
      -ms-transform: translate3D(-70px, 0, 0);
          transform: translate3D(-70px, 0, 0);
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-delay: .3s;
       -o-transition-delay: .3s;
          transition-delay: .3s;
  -webkit-transition-timing-function: cubic-bezier(.48, 0, .39, 1);
       -o-transition-timing-function: cubic-bezier(.48, 0, .39, 1);
          transition-timing-function: cubic-bezier(.48, 0, .39, 1);
  img, svg{
    width: 100%;
  }
}
#tree{
  position: absolute;
  left: 75%;
  width: 12.5%;
  bottom: 2.5%;
  z-index: 2;
  opacity: 0;
  -webkit-transform: translate3D(70px, 0, 0);
      -ms-transform: translate3D(70px, 0, 0);
          transform: translate3D(70px, 0, 0);
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-delay: .1s;
       -o-transition-delay: .1s;
          transition-delay: .1s;
  -webkit-transition-timing-function: cubic-bezier(.48, 0, .39, 1);
       -o-transition-timing-function: cubic-bezier(.48, 0, .39, 1);
          transition-timing-function: cubic-bezier(.48, 0, .39, 1);
  
  #tree_1{
    position: absolute;
    width: 80%;
    bottom: 85%;
    left: 50%;
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: translate3D(-50%, 0, 0);
        -ms-transform: translate3D(-50%, 0, 0);
            transform: translate3D(-50%, 0, 0);
  }
  #tree_2{
    width: 100%;
  }
}
#monitor{
  position: absolute;
  bottom: 32%;
  width: 35%;
  left: 18%;
  z-index: 3;
  opacity: 0;
  img, svg{
    width: 100%;
  }
}
#laptop{
  position: absolute;
  bottom: 34%;
  left: 53%;
  width: 18%;
  z-index: 3;
  opacity: 0;
  img, svg{
    width: 100%;
  }
  #contact{
    z-index: -1;
    pointer-events: none;
  }
  &.active{
    #contact{
      pointer-events: auto;
      opacity: 1;
      .ha{
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
    }
  }
}
#chair{
  position: absolute;
  bottom: 20%;
  left: 47%;
  width: 26%;
  z-index: -2;
  opacity: 0;
  -webkit-transition-delay: .9s;
       -o-transition-delay: .9s;
          transition-delay: .9s;
  -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(.48, 0, .39, 1);
       -o-transition-timing-function: cubic-bezier(.48, 0, .39, 1);
          transition-timing-function: cubic-bezier(.48, 0, .39, 1);
  -webkit-transform: translate3D(0, 30px, 0);
      -ms-transform: translate3D(0, 30px, 0);
          transform: translate3D(0, 30px, 0);
  img, svg{
    width: 100%;
  }
}
#keyboard{
  position: absolute;
  left: 32%;
  bottom: 35%;
  width: 18%;
  z-index: 1;
  -webkit-transform: translate3D(10px,-50px, 0);
      -ms-transform: translate3D(10px,-50px, 0);
          transform: translate3D(10px,-50px, 0);
  opacity: 0;
  -webkit-transition-delay: 1.5s;
       -o-transition-delay: 1.5s;
          transition-delay: 1.5s;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  img, svg{
    width: 100%;
  }
}
#rak{
  position: absolute;
  left: 75%;
  bottom: 70%;
  width: 21%;
  opacity: 0;
  -webkit-transition-duration: .7s;
       -o-transition-duration: .7s;
          transition-duration: .7s;
  -webkit-transform: translate3D(20px, 0 ,0);
      -ms-transform: translate3D(20px, 0 ,0);
          transform: translate3D(20px, 0 ,0);
  -webkit-transition-timing-function: cubic-bezier(0, 1.14, .81, 1.47);
       -o-transition-timing-function: cubic-bezier(0, 1.14, .81, 1.47);
          transition-timing-function: cubic-bezier(0, 1.14, .81, 1.47);

  #books{
    margin-left: 4%;
    margin-bottom: -2px;
    #book_3{
      position: absolute;
      -webkit-transform: translate3D(48%, 0, 0);
          -ms-transform: translate3D(48%, 0, 0);
              transform: translate3D(48%, 0, 0);
      -webkit-transition-delay: .7s;
           -o-transition-delay: .7s;
              transition-delay: .7s;
      -webkit-transition-duration: .5s;
           -o-transition-duration: .5s;
              transition-duration: .5s;
      width: 41.5%;
    }
    #book_2{
      position: absolute;
      left: 12.5%;
      -webkit-transform: translate3D(24%, 0, 0);
          -ms-transform: translate3D(24%, 0, 0);
              transform: translate3D(24%, 0, 0);
      -webkit-transition-delay: .6s;
           -o-transition-delay: .6s;
              transition-delay: .6s;
      -webkit-transition-duration: .5s;
           -o-transition-duration: .5s;
              transition-duration: .5s;
      width: 41.5%;
    }
    #book_1{
      position: relative;
      margin-left: 20%;
      width: 43%;
      -webkit-transition-duration: .3s;
           -o-transition-duration: .3s;
              transition-duration: .3s;
    }
  }

  #plate{
    margin-top: -3%;
    width: 100%;
  }
  #plant{
    position: absolute;
    top: 23%;
    left: 70%;
    width: 60%;
    -webkit-transform: translate3D(-10px, 0, 0);
        -ms-transform: translate3D(-10px, 0, 0);
            transform: translate3D(-10px, 0, 0);
    -webkit-transition-delay: 1.2s;
         -o-transition-delay: 1.2s;
            transition-delay: 1.2s;
    -webkit-transition-duration: .5s;
         -o-transition-duration: .5s;
            transition-duration: .5s;
    -webkit-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
}

#me{
  position: absolute;
  z-index: -1;
  width: 24.25%;
  left: 43%;
  bottom: 28%;
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 0;
  z-index: -1;
  #head{
    position: absolute;
    left: -12%;
    bottom: 83%;
    width: 100%;
    -webkit-transform: translate3D(0, -10px, 0);
        -ms-transform: translate3D(0, -10px, 0);
            transform: translate3D(0, -10px, 0);
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-delay: 1.4s;
         -o-transition-delay: 1.4s;
            transition-delay: 1.4s;
    -webkit-transition-timing-function: cubic-bezier(0, 1.14, .81, 1.47);
         -o-transition-timing-function: cubic-bezier(0, 1.14, .81, 1.47);
            transition-timing-function: cubic-bezier(0, 1.14, .81, 1.47);
  }
  #body{
    width: 100%;
  }

  .eyes{
    position: absolute;
    z-index: 1;
    width: 25%;
    left: 0%;
    bottom: 110%;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    img{
      width: 100%;
    }
    #eyes_open{
      position: absolute;
      left: 0;
      bottom: 0;
    }
    #eyes_close{
      position: relative;
      bottom: -4px;
    }
  }
}

.desk-container {
  width: 518.809px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
      -ms-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
  &::before{
    content: '';
    display: block;
    padding-top: calc(414.688 / 518.809 * 100%);
  }


  &.active{
    #table{
      -webkit-transform: translate3D(0, 0, 0);
          -ms-transform: translate3D(0, 0, 0);
              transform: translate3D(0, 0, 0);
      img, svg{
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
      }
    }
    #tree, #lamp, #cupboard{
      -webkit-transform: translate3D(0, 0, 0);
          -ms-transform: translate3D(0, 0, 0);
              transform: translate3D(0, 0, 0);
      opacity: 1;
    }
    #tree{
      #tree_1.intro{
        -webkit-animation: treeShake 1.7s ease 0s forwards alternate;
                animation: treeShake 1.7s ease 0s forwards alternate;
      }
      &:hover{
        #tree_1 {
            -webkit-animation: treeBounce 1.7s ease 0s forwards alternate;
                    animation: treeBounce 1.7s ease 0s forwards alternate;
          }
      }
    }
    #monitor{
      -webkit-animation: showMonitor 1s cubic-bezier(.48,0,.39,1) .2s alternate forwards;
              animation: showMonitor 1s cubic-bezier(.48,0,.39,1) .2s alternate forwards;
    }
    #laptop{
      -webkit-animation: showMonitor 1s cubic-bezier(.48,0,.39,1) .3s alternate forwards;
              animation: showMonitor 1s cubic-bezier(.48,0,.39,1) .3s alternate forwards;
    }
    #rak{
      opacity: 1;
      -webkit-transition-delay: .5s;
           -o-transition-delay: .5s;
              transition-delay: .5s;
      -webkit-transform: translate3D(0, 0, 0);
          -ms-transform: translate3D(0, 0, 0);
              transform: translate3D(0, 0, 0);
      #plant{
        -webkit-transform: translate3D(0, 0, 0);
            -ms-transform: translate3D(0, 0, 0);
                transform: translate3D(0, 0, 0);
      }
      #books{
        #book_3,#book_2 {
          -webkit-transform: translate3D(0, 0, 0);
              -ms-transform: translate3D(0, 0, 0);
                  transform: translate3D(0, 0, 0);
        }
      }
    }
    #me{
      -webkit-animation: rotateMe 1s ease 1s alternate forwards;
              animation: rotateMe 1s ease 1s alternate forwards;
      #head{
        -webkit-transform: translate3D(0px, 0px, 0px);
            -ms-transform: translate3D(0px, 0px, 0px);
                transform: translate3D(0px, 0px, 0px);
      }
    }
    #chair{
      opacity: 1;
      -webkit-transform: translate3D(0, 0, 0);
          -ms-transform: translate3D(0, 0, 0);
              transform: translate3D(0, 0, 0);
    }
    #keyboard{
      -webkit-transform: translate3D(0, 0, 0);
          -ms-transform: translate3D(0, 0, 0);
              transform: translate3D(0, 0, 0);
      opacity: 1;
    }
  }
}

.btn{
  position: relative;
  font-size: 16px;
  padding: 8px 18px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  background-color: transparent;
  color: var(--primary);
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;

  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(-7px, -7px);
        -ms-transform: translate(-7px, -7px);
            transform: translate(-7px, -7px);
    background-color: #efefef;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
  }

  &:hover{
    color: var(--secondary);
    &::before{
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      background-color: var(--primary);
    }
  }
}

.greeting{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9;
  -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  &.hidden{
    .console-container{
      -webkit-transition-duration: 1s;
           -o-transition-duration: 1s;
              transition-duration: 1s;
      -webkit-transform: translateY(-30px);
          -ms-transform: translateY(-30px);
              transform: translateY(-30px);
      opacity: 0;
    }
  }

  .btn{
    top: 20vh;
    
  }
}

.hidden {
  opacity:0;
  pointer-events: none;
}
.console-container {
  position: relative;
  text-align: center;
  width: 600px;
  height: 140px;
  max-width: 100%;
  font-family: 'Teko', sans-serif;
  font-size: 42px;
}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:7px;
  font-size: 42px;
}

.loading{
  -webkit-transition-duration: .7s;
       -o-transition-duration: .7s;
          transition-duration: .7s;
}

#cupboard{
  position: absolute;
  left: 72%;
  bottom: 1%;
  width: 28%;
  height: 30%;
  z-index: 1;
  opacity: 0;
  -webkit-transform: translate3D(70px, 0, 0);
      -ms-transform: translate3D(70px, 0, 0);
          transform: translate3D(70px, 0, 0);
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-delay: .5s;
       -o-transition-delay: .5s;
          transition-delay: .5s;
  -webkit-transition-timing-function: cubic-bezier(.48, 0, .39, 1);
       -o-transition-timing-function: cubic-bezier(.48, 0, .39, 1);
          transition-timing-function: cubic-bezier(.48, 0, .39, 1);
}

#contact{
  position: absolute;
  bottom: 100%;
  left: 25%;
  width: 65px;
  opacity: 0;
  -webkit-transition-duration: .12s;
       -o-transition-duration: .12s;
          transition-duration: .12s;
  .ha{
    position: relative;
    width: 65px;
    height: 65px;
    border-radius: 100px;
    margin-bottom: 16px;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    &::before{
      content: '';
      position: absolute;
      left: 3.5px;
      top: 2.5px;
      width: 56px;
      height: 56px;
      border-radius: 100px;
      background-color: #efefef;
      z-index: -1;
      -webkit-transition-duration: .3s;
           -o-transition-duration: .3s;
              transition-duration: .3s;
    }
    &:hover{
      -webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
              animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    }
    &:first-child{-webkit-transform: translate3d(0px, 219px, 0px);transform: translate3d(0px, 219px, 0px);}
    &:nth-child(2){-webkit-transform: translate3d(0px, 138px, 0px);transform: translate3d(0px, 138px, 0px);}
    &:last-child{-webkit-transform: translate3d(0px, 57px, 0px);transform: translate3d(0px, 57px, 0px);}
  }
}


.tooltip{
  width: 160px;
  height: 90px;
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translate3d(-50%, 12px, 0);
          transform: translate3d(-50%, 12px, 0);
  bottom: calc(100% + 6px);
  opacity: 0;
  pointer-events: none;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  svg{
    position: absolute;
    left: 0;
    top: 0%;
    z-index: -1;
  }
  &>span{
    position: absolute;
    left: 50%;
    top: 43%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: calc(100% - 16px);
    font-size: 14px;
  }
}

.tooltip-parent{
  &:hover{
    .tooltip{
      opacity: 1;
      -webkit-transform: translate3d(-50%, 0px, 0px);
              transform: translate3d(-50%, 0px, 0px);
    }
  }

  &.active{
    .tooltip{
      -webkit-transform: translate3d(-50%, 12px, 0) !important;
              transform: translate3d(-50%, 12px, 0) !important;
      opacity: 0 !important;
    }
  }
}

.croc{
  .socmed-container{
    position: absolute;
    left: 6px;
    bottom: 7px;
    width: 70px;
    height: 0px;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    background-color: #efefef;
    z-index: 1;
    border: 2px dashed #403e41;
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
    overflow: hidden;
    padding-top: 6px;
    a{
      display: block;
      width: 48px;
      height: 48px;
      margin: 16px auto;
      &:hover{
        -webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      }
    }
  }
  svg{
    position: absolute;
  }
  &--body{
    right: 0;
    bottom: 0;
  }
  &--mouth{
    left: 0;
    bottom: 0;
    z-index: 2;
  }
  &--head{
    left: 0;
    bottom: 9px;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    z-index: 2;
  }
}

#socmed{
  position: absolute;
  left: 20%;
  bottom: 77%;
  width: 100px;
  height: 160px;
  -webkit-transform: scale(.85);
      -ms-transform: scale(.85);
          transform: scale(.85);
  
  &:hover{
    .croc{
      .socmed-container{
        height: 160px;
      }
      &--head{
        -webkit-transform: translateY(-140px);
            -ms-transform: translateY(-140px);
                transform: translateY(-140px);
      }
    }
  }
}