.modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  pointer-events: none;

  .slide-container{
    -webkit-transform: translateX(calc(100% + 70px));
        -ms-transform: translateX(calc(100% + 70px));
            transform: translateX(calc(100% + 70px));
    -webkit-transition-duration: .75s;
         -o-transition-duration: .75s;
            transition-duration: .75s;
  }

  &.active{
    pointer-events: auto;
    .slide-container{
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
    }
  }
}

.container-grid{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill{
  width: 100px;
  height: 100px;
  border-radius: 8px;
  border: 1px dashed var(--primary);
  background-color: var(--secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8px;
  text-align: center;
}
.slide-container{
  position: absolute;
  right: 0;
  top: 0;
  width: 420px;
  height: 100%;
  background-color: #efefef;
  padding: 0px 16px;
  max-width: 100%;
  .scroller{
    height: calc(100vh - 160px);
  }

  .card-portfolio:not(:last-child)::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 65%;
    border-bottom: 2px dashed var(--primary);
  }
  .close{
    position: absolute;
    top: 32px;
    right: calc(100% + 16px);
    width: 42px;
    height: 42px;
    padding: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 1;
    border-radius: 8px;
    border: 2px solid #403e4191;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: #efefef;
      border-radius: 6px;
      -webkit-transform: translate(-8px, -8px);
          -ms-transform: translate(-8px, -8px);
              transform: translate(-8px, -8px);
      -webkit-transition-duration: .3s;
           -o-transition-duration: .3s;
              transition-duration: .3s;
    }
    &:hover{
      color: var(--secondary);
      &::before{
        -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
                transform: translate(0, 0);
        background-color: var(--primary);
      }
    }
  }
}
.scroller{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.card-portfolio{
  width: 100%;
  margin-bottom: 32px;
  position: relative;
  padding-bottom: 32px;
  img{
    width: 100%;
    display: block;
    border-radius: 8px;
  }
  &__thumb{
    position: relative;
    overflow: hidden;
  }
  &__title{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    color: var(--secondary);
    font-family: 'Teko', sans-serif;
    padding: 6px 16px;
    font-size: 21px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

.tags-list{
  margin-top: 8px;
}

.tag-label {
  border: 1px solid var(--primary);
  border-radius: 6px;
  color: var(--primary);
  padding: 0 8px;
  cursor: default;
  font-size: 13px;

  &:not(:last-child) {
    margin-right: 8px;
  }
}


.slide--title{
  font-size: 48px;
  margin-bottom: 14px;
  line-height: 1;
}